@charset 'utf-8'

.toggle
  text-align: center
  width: 40px
  height: auto
  top: 0
  bottom: 0
  margin: auto 0
  border: none
  -webkit-appearance: none
  appearance: none

.toggle:after
  content: url('/assets/images/checkbox.svg')

.toggle:checked:after
  content: url('/assets/images/checkbox-checked.svg')

label
  word-break: break-all
  margin: 0
  padding: 15px 15px 15px 15px
  display: block
  line-height: 1.2
  transition: color 0.4s

label.completed
  color: #d9d9d9
  text-decoration: line-through

input.editable
  line-height: 1.2
  transition: color 0.4s
